@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

li {
    list-style: none;
    float: left;
    margin : 20px;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
}

#foot{
    color : white;
    width: 100%;
    bottom:0;
    margin-bottom: 10px;
    position: absolute;
    text-align: center;
}