.top {
    padding-top : 50px;
    margin-left: 50px;
    margin-right: 50px;
    display : flex;
    justify-content: space-between;
}

.background {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#home {
    background-image: url("../../public/images/mainimg.png");
    min-height: 100vh;  /*뷰포트에 전체를 차지한다 */
}
/* 컨텐츠부분 위치할당 */
.middle{
    width: 100%;
    height: 86vh;
}


